<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="hasToolUpport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/preview.css">
    <script src="/js-front/preview-obj.js"></script> <!--script creado por el pro-->
</head>
<body>

    <div class="container-preview">

        <div idElement=1 class=hasToolUp>1</div>
        <div idElement=2 class=hasToolUp>2</div>
        <div idElement=3 class=hasToolUp>3</div>
        <div idElement=4 class=hasToolUp>4</div>
        <div idElement=5 class=hasToolUp>5</div>
        <div idElement=6 class=hasToolUp>6</div>
        <div idElement=7 class=hasToolUp>7</div>
        <div idElement=8 class=hasToolUp>8</div>
        <div idElement=9 class=hasToolUp>9</div>
        <div idElement=10 class=hasToolUp>10</div>
        <div idElement=11 class=hasToolUp>11</div>
        <div idElement=12 class=hasToolUp>12</div>
        <div idElement=13 class=hasToolUp>13</div>
        <div idElement=14 class=hasToolUp>14</div>
        <div idElement=15 class=hasToolUp>15</div>
        <div idElement=16 class=hasToolUp>16</div>
        <div idElement=17 class=hasToolUp>17</div>
        <div idElement=18 class=hasToolUp>18</div>
        <div idElement=19 class=hasToolUp>19</div>
        <div idElement=20 class=hasToolUp>20</div>

    </div>



    <div class="toolup"></div>

</body>
</html>

