<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
    <link rel="stylesheet" href="/css/products.css">
   
  </head>

  <%- include("../partials/header") %> 
  
  <body>

    <div class="contenedor">

      <nav class="filtros">
        <h3>Filtros</h3>
        <ul>
          <li class="lista-filtros"><a href="" >categoria</a></li>
          <li class="lista-filtros"><a href="" >nuevos</a></li>
          <li class="lista-filtros"><a href="" >puntuacion</a></li>
          <li class="lista-filtros"><a href="" >mas vendidos</a></li>
          <li class="lista-filtros"><a href="" >otros</a></li>
        </ul>

      </nav>

      <section class="libros">

          
          <div class="info-libro">
            <h3 class="titulo">NOSE</h3>

            <div class="valoracion-libro">
                *3
            </div>

            <div class="img">
              <a href=" ">
                <img src="/images/libros/ejemplo.jpg" alt="imagen de libro">
              </a>
            </div>

            <a class="autor" href=""> yo </a>

            <span class="precio">$ 4000 </span>
          </div>


       
      </section>

      
    </div>

  


    
   
  </body>

  <%- include("../partials/footer") %> 
  
</html>
