<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css">
    <title>Login</title>
</head>

<%- include("../partials/header") %> 

<body>
    
        <div class="container-sesion-register">
            <div class="box-login">
                <div class="titulo-sesion">
                    <h2>Iniciar sesion</h2>
                </div>
                <div class="forget-passwor">
                    <a href="#">Recuperar contraseña</a>
                </div>
                <div class="block-form-sesion">
                    <form action="/index" method="POST">
                     <input type="text" name="usuario" id="usuario" placeholder="Email / Usuario">
                     <input type="password" name="password" id="password" placeholder="Password">
                   </form>
                </div>


                
                <div class="casilla-sesion">
                    <label for="view-password">
                        <input type="checkbox"  name="view-password" id="view-password">
                        <span> Mostrar Contraseña </span>
                    </label>

                </div>
                <div class="casilla-sesion">
                    <label for="remember-sesion">
                        <input type="checkbox"  name="remember-sesion" id="remember-sesion">
                        <span for=""> Recuerdame </span>
                    </label>
                </div>
                <button class="iniciar-sesion" type="submit">Inciar sesion</button>
            </div>



            <div class="box-register">
                <div class="titulo-register">
                    <h2>Registrarse</h2>

                    <div class="block-form-sesion block-register">

                        <form action="/account" method="POST">      

                            <input type="text" name="usuario" id="usuario" placeholder="Usuario" name="usuario">
                            <input type="email" name="email" id="email" placeholder="Email">
                            <input type="password" name="password" id="password" placeholder="Password">
                            <input type="password" name="re-password" id="re-password" placeholder="Password"> 

                            <div class="casilla-register">
                                <label for="view-register">
                                    <input type="checkbox" name="view-register" id="view-register">
                                    <span> Mostrar Contraseña</span>
                                </label>
                            </div>
                            <button class="register" type="submit">Registrarse</button>

                        </form>    

                    </div>

                   
                   
                
                </div>
            </div>
        </div>
    
</body>

<%- include("../partials/footer") %> 

</html>