<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminos y Condiciones</title>
    <link rel="stylesheet" href="/css/terminos.css">
</head>
<%- include("../partials/header") %>
<body>

    <div class="contenedor-terminos">
        <h1 class="title-terminos">Terminos y Condiciones</h1>
        <h3 class="title-info">Limitación de la garantía y de la responsabilidad</h3>
        <p class="parrafos-terminos">
            

            Aunque se ha puesto el máximo empeño en asegurar la exactitud de la información incluida en esta página web/aplicación, HouseBook proporciona dicha información "TAL CUAL", y DENIEGA CUALQUIER GARANTÍA, EXPRESA O IMPLÍCITA, INCLUIDAS, ENTRE OTRAS, LAS GARANTÍAS IMPLÍCITAS DE COMERCIABILIDAD Y APTITUD PARA FINES ESPECÍFICOS. Usted reconoce que utilizará esta página web/aplicación bajo su propio riesgo, que asume la responsabilidad completa de todos los costos asociados al uso de esta página web/aplicación y que HouseBook no será responsable de ningún daño directo, incidental, consecuente ni indirecto de ningún tipo, derivado de su acceso a la información o los programas informáticos disponibles en esta página web/aplicación o del uso de estos.

            Todas las garantías y declaraciones incluidas en esta página web/aplicación acerca de los productos o servicios de HouseBook que usted adquiera o use estarán sujetas a los términos y condiciones acordados en el contrato del producto o servicio en cuestión.

            Asimismo, en lo que respecta a las páginas web/aplicaciones no pertenecientes a HouseBook mencionadas en nuestra página web/aplicación o donde se incluya un hipervínculo, HouseBook no ofrece garantía alguna respecto de la exactitud o la confiabilidad de la información contenida en dichas páginas web/aplicaciones y no asumirá ninguna responsabilidad sobre el material creado o publicado por terceros incluido en dichas páginas y aplicaciones. Además, HouseBook tampoco garantiza que esta página web/aplicación ni que esas otras páginas web/aplicaciones vinculadas estén libres de virus u otros elementos perjudiciales.

        </p>
        <h3 class="title-info">Derechos de autor</h3>
        <p class="parrafos-terminos">
            

            Los derechos de autor de esta página web/aplicación y el derecho de autor de la información y los programas informáticos disponibles en esta página web/aplicación pertenecen a HouseBook o a los otorgantes de su autorización de uso. Quedan reservados todos los derechos. Todo el material autorizado para su uso mencionará al otorgante que haya concedido a HouseBook el derecho a utilizar el material. La información y los programas informáticos disponibles en esta página web/aplicación no podrán reproducirse, duplicarse, copiarse, transmitirse, distribuirse, almacenarse, modificarse, descargarse ni explotarse de ningún otro modo para uso comercial sin la autorización previa por escrito de HouseBook. No obstante, sí podrán reproducirse, almacenarse y descargarse para su uso por parte de particulares sin la autorización previa por escrito de HouseBook. En ningún caso se podrá facilitar esta información o programas informáticos a terceros.
            Esta página web/aplicación incluye determinadas imágenes que se utilizan bajo licencia de HouseBook, S.A.

        </p>
        <h3 class="title-info">Marcas comerciales y patentes</h3>
        <p class="parrafos-terminos">
            

            Todas las marcas comerciales, nombres de marcas y logotipos de empresas que aparecen en la página web/aplicación son propiedad de HouseBook o de los otorgantes de su autorización de uso, y no podrán ser utilizados de ningún modo sin la autorización previa por escrito de HouseBook. Todas las marcas comerciales autorizadas publicadas en esta página web/aplicación mencionan al otorgante que haya concedido a HouseBook el derecho a utilizar la marca comercial. El acceso a esta página web/aplicación no concede al usuario ningún derecho sobre las patentes propiedad de HouseBook o autorizadas a HouseBook.

            HouseBook se reserva el derecho a introducir cambios o ampliaciones de esta página web/aplicación en cualquier momento.
        </p>
    </div>
    
    <footer><%- include("../partials/footer") %> </footer>
</body>
</html>