<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/productCart.css">
    <title>Carrito | House Book</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Detalle del Carrito</h1>
        </div>
        <div class="carrito">
            <div class="block-wrap">
                <div class="img"><img src="../../public/images/libros/Ejemplo.jpg" alt=""></div>
                <div class="block">
                    <div class="block-title">
                        <h2>Titulo del Producto</h2>
                    </div>
                    <div class="block-details">
                        <div class="item-type">Tipo de libro: (pdf / duro)</div>
                        <div class="item-autor">Autor: autor</div>
                    </div>
                    <div class="block-option">
                        <div class="item-details"><a href="">Detalle de Producto</a></div>
                        <div class="item-delete"><a href="">Eliminar Producto</a></div>
                    </div>
                </div>
                <div class="quantity">
                    <div class="item-quantity">
                        <a href="" class="minus btn-quantity">-</a>
                        <a href="" class="item-quantity-number">2</a>
                        <a href="" class="plus btn-quantity">+</a>
        
                    </div>
        
                </div>
                <div class="item-price">
                    <div class="price">
                        <b>ARS $3333</b>
                    </div>
                    <div class="item-gift">
                        <label for="gift">
                            <input type="checkbox" name="gift" id="gift">
                            <span>Regalo</span>
                        </label>
                    </div>
                </div>
            </div>
        
            <div class="block-wrap">
                <div class="img"><img src="../../public/images/libros/Ejemplo.jpg" alt=""></div>
                <div class="block">
                    <div class="block-title">
                        <h2>Titulo del Producto</h2>
                    </div>
                    <div class="block-details">
                        <div class="item-type">Tipo de libro: (pdf / duro)</div>
                        <div class="item-autor">Autor: autor</div>
                    </div>
                    <div class="block-option">
                        <div class="item-details"><a href="">Detalle de Producto</a></div>
                        <div class="item-delete"><a href="">Eliminar Producto</a></div>
                    </div>
                </div>
                <div class="quantity">
                    <div class="item-quantity">
                        <a href="" class="minus btn-quantity">-</a>
                        <a href="" class="item-quantity-number">2</a>
                        <a href="" class="plus btn-quantity">+</a>
        
                    </div>
        
                </div>
                <div class="item-price">
                    <div class="price">
                        <b>ARS $3333</b>
                    </div>
                    <div class="item-gift">
                        <label for="gift">
                            <input type="checkbox" name="gift" id="gift">
                            <span>Regalo</span>
                        </label>
                    </div>
                </div>
            </div>
        
            <div class="block-wrap">
                <div class="img"><img src="../../public/images/libros/Ejemplo.jpg" alt=""></div>
                <div class="block">
                    <div class="block-title">
                        <h2>Titulo del Producto</h2>
                    </div>
                    <div class="block-details">
                        <div class="item-type">Tipo de libro: (pdf / duro)</div>
                        <div class="item-autor">Autor: autor</div>
                    </div>
                    <div class="block-option">
                        <div class="item-details"><a href="">Detalle de Producto</a></div>
                        <div class="item-delete"><a href="">Eliminar Producto</a></div>
                    </div>
                </div>
                <div class="quantity">
                    <div class="item-quantity">
                        <a href="" class="minus btn-quantity">-</a>
                        <a href="" class="item-quantity-number">2</a>
                        <a href="" class="plus btn-quantity">+</a>
        
                    </div>
        
                </div>
                <div class="item-price">
                    <div class="price">
                        <b>ARS $3333</b>
                    </div>
                    <div class="item-gift">
                        <label for="gift">
                            <input type="checkbox" name="gift" id="gift">
                            <span>Regalo</span>
                        </label>
                    </div>
                </div>
            </div>
        
            <div class="block-wrap">
                <div class="img"><img src="../../public/images/libros/Ejemplo.jpg" alt=""></div>
                <div class="block">
                    <div class="block-title">
                        <h2>Titulo del Producto</h2>
                    </div>
                    <div class="block-details">
                        <div class="item-type">Tipo de libro: (pdf / duro)</div>
                        <div class="item-autor">Autor: autor</div>
                    </div>
                    <div class="block-option">
                        <div class="item-details"><a href="">Detalle de Producto</a></div>
                        <div class="item-delete"><a href="">Eliminar Producto</a></div>
                    </div>
                </div>
                <div class="quantity">
                    <div class="item-quantity">
                        <a href="" class="minus btn-quantity">-</a>
                        <a href="" class="item-quantity-number">2</a>
                        <a href="" class="plus btn-quantity">+</a>
        
                    </div>
        
                </div>
                <div class="item-price">
                    <div class="price">
                        <b>ARS $3333</b>
                    </div>
                    <div class="item-gift">
                        <label for="gift">
                            <input type="checkbox" name="gift" id="gift">
                            <span>Regalo</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="block-price">
            
            <div class="producto">
                <span class="precio-detalle"> Producto</span>
                <span class="precio-total">3333333</span>
            </div>
            <div class="envio">
                <span class="precio-detalle"> Envio</span>
                <span class="precio-total">3333333</span>
            </div>
            <div class="total">
                <b class="precio-detalle"> Total</b>
                <b class="precio-total">3333333</b>
            </div>

            <div class="comprar">
                <a href="">Comprar</a>
            </div>

        </div>
    </div>


</body>
</html>