<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/preview-products.css">
   
    <script src="/js-front/preview-obj.js"></script>
  </head>

  <%- include("../partials/header") %> 
  
  <body>

   

    <div class="contenedor">
      
      
         
        <nav class="filtros">
          <% if (typeof locals.admin !== 'undefined') { %>
          <div class="admin">
            <div class="crear">
              <a href="/products/create">Crear nuevo producto</a>
            </div>
            <div class="espacio-blanco"></div>
          </div>
        <% } %>
        
          <h3>Filtros</h3>
          <ul>
            <li class="lista-filtros"><a href="">categoria</a></li>
            <li class="lista-filtros"><a href="">nuevos</a></li>
            <li class="lista-filtros"><a href="">puntuacion</a></li>
            <li class="lista-filtros"><a href="">mas vendidos</a></li>
            <li class="lista-filtros"><a href="">otros</a></li>
          </ul>
        
        </nav>
      <section class="libros">
        <script >                                
          const books = <%-JSON.stringify(product)%>
        </script>
        <% for (let i = 0; i < product.length ; i++) { %>
          <%-include('../partials/product-item-book', {product, i}) %> 
        <% }  %>       
      </section>

      
    </div>
    <footer><%- include("../partials/footer") %> </footer>
  </body>

  
  
  <div class="toolup"></div>
</html>
