<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>

    <footer>
        
        <div class="contenedor-footer">

            <div class="caja-links-footer">

                <h3>Selecciones</h3>
    
                <div class="links-footer">
                    <ul class="ul-footer">
                        <li class="li-footer"><a href="#">Login / User</a></li>
                        <li class="li-footer"><a href="#">Contacto</a></li>
                        <li class="li-footer"><a href="#">Conocenos</a></li>
                        <li class="li-footer"><a href="#">Mis Pedidos</a></li>
                        <li class="li-footer"><a href="#">Terminos y condiciones</a></li>
                        <li class="li-footer"><a href="#">Ayuda</a></li>
                     </ul>
                </div>
              
            </div>
    
            <div class="info-footer">
                <h3>Acerca de nosotros</h3>
                <span>
                    HouseBook surge con la idea de ser tu tienda digital de confianza. <br>
                    Tenemos para vos una amplia coleccion literaria. <br>
                    para mayor comodidad contamos con envios a todo el pais.
                  
                </span>
            </div>
    
            <div class="pagos-tablet-footer">
                <h3>¿Que medios de pago Aceptamos?</h3>
                <img src="/images/logos/medios-de-pago.png" alt="pagos-tablet">
            </div>
            
    
            <div class="redes-sociales-footer">
                <h3>Siguenos en nuestras Redes</h3>
            
                <ul>
                    <li>
                        <a href=""><i class="fab fa-facebook-square"><span>Facebook</span></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fab fa-instagram"><span>Instagram</span></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fab fa-twitter-square"><span>Twiter</span></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fab fa-google-plus-g"><span>Google</span></i></a>
                    </li>
                </ul>
    
            </div>
    
            
    
            <div class="pagos-footer">
                <h4>Medios de pago</h4>
                <img src="/images/logos/medios-de-pago.png" alt="">
            </div>
    
            <div class="logo-footer">
                <img src="/images/logos/logo.png" alt="">
            </div>
                
    
    
            <div class="copyright">
                <p>Copyright © 2020 HOUSE book S.A</p>
            </div>

        </div>

        


    </footer>
    
</body>
</html>