*{
    padding: 0;
    margin: 0;
}

.todo{
    background: #F0F0F0;
}
.container{
    max-width: 425px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}

.block-form{
    margin-bottom: 5px;
}
.block-form input{
    display: block;
    width: 90%;
    font-size: 110%;    
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1px;
}
.forget{
    text-align: right;    
}
button{
    font-size: 200%;
    width: 90%;
    background:  rgba(83, 173, 175, 0.705);
    margin-top: 10px;
}

.register, .login{
    margin-bottom: 20px;
    background: white;
    padding: 20px;    
}
.titulo h2{
    font-size: 200%; 
    margin-bottom: 10px;   
}
.casilla{
    padding-bottom: 5px;
    font-size: 130%;
}
.casilla label{
    display: block;
    padding: 3px 0;
}
.forget{
    padding: 0 10px 10px;
}
.block-register form input{
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: black;
}

@media(min-width: 768px){

    .container{
        max-width: 768px;
        margin: 0 3%;
        
        box-sizing: border-box;
        display: flex;     
        justify-content: space-between;          
        margin: 1%;
        box-sizing: border-box;     
    }
  
    .login{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 48%;        
    }
    .register{        
        width: 48%;
    }
    button{
        width: 95%;
        margin: 0;
    }
    .casilla, .forget{
        padding: 0;
    }
    

}

@media(min-width: 1024px){
    .container{
        max-width: 1444px;
    }
    
}