*{
    font-family: 'Roboto', sans-serif;
}
.container-preview{
    border: 1px solid;
    box-sizing: border-box;
    padding: 5px 15px;
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}
.titulo-preview{
    width: 100%;
    font-size: 20px;
    text-align: initial;
    font-weight: bold;
    margin: 2px 0;
}
.img-portada-preview{
    width: 25%;
    margin-right: 15px;
    border-bottom: 1px solid  rgb(119, 63, 125);
    
}
.img-portada-preview img{
    width: 100%;
}
.info-preview{
    font-size: 15px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3px;
    border-bottom: 1px solid  rgb(119, 63, 125);
}
.info-preview .datos{
    display: flex;
    width: 55%;
}
.datos label{
    width: 60%;
    color:  rgb(119, 63, 125);
    font-weight: bolder;
}
.datos  span{
    font-size: 14px; 
    width: 45%;
}
.descripcion-preview {
    font-size: 15px;
    margin: 10px 0;
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.descripcion-preview span{
    font-weight: bold;
    color: rgb(119, 63, 125);
    font-size: 17px;
}
