
    <!-- awsome-->
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="   /css/header.css">

</head>

<body>

    <header>
        
        <div class="contenedor-header">
        
            <!-- INICIO CABEZERA 1-->

            <div class="contenedor-cabezera-1">

                <div class="nav-header">

                    <div class="nav-left-header">
                        <div class="feedback"><a href="#">Contacto</a></div>
                        <div class="feedback"><a href="#">Ayuda</a></div>
                    </div>
                    
                    <div class="nav-right-header">
                        <div class="logo-login" id="relleno"> <i class="fas fa-user"></i> </div>
                        <div class="feedback"><a href="/account">Sign up</a></div>
                        <div class="feedback"><a href="/account">Login</a></div>
                    </div>

                </div>
            </div>

            <!-- FIN CABEZERA 1-->
            <!-- INICIO CABEZERA 2-->

            <div class="contenedor-cabezera-2">
            
                <div class="cabezera-1">
                    <div class="menu-header"><i class="fas fa-bars"></i></div>

                    <div class="logo-header">
                        <a href="/"><img src="/images/logos/logo.png" alt="logo"></a>
                    </div>
                    
                    <div class="search" id="si-pc">
                        <div class="barra-busqueda">
                            <form action="#">
                                <input id="busqueda" name="busqueda" type="text"
                                    placeholder="Buscar libro por palabra / clave / autor / ISBN">
                            </form>
                        </div>
                        <div class="lupa"><i class="fas fa-search"></i></div>
                        <div class="button-search">
                            <button type="submit">buscar</button>
                        </div>
                    </div>

                    <div class="carrito">
                        <!---login y precio pa tablet-->
                        <div class="price-login">
                            <div class="logo-login">
                                <button type="submit">
                                    <i class="fas fa-user"></i> Sing up
                                </button>
                            </div>
                        </div>
            
                        <div class="price-login">
            
            
            
                            <div class="logo-login">
                                <button type="submit">
                                    <i class="fas fa-user"></i> Login
                                </button>
                            </div>
            
            
                        </div>

                        
                        <div class="bolsita">
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                    </div>
                    

                </div>        
            </div>
        
            <div class="search" id="no-pc">
                <div class="barra-busqueda">
                    <form action="#">
                        <input id="busqueda" name="busqueda" type="text"
                            placeholder="Buscar libro por palabra / clave / autor / ISBN">
                    </form>
                </div>
                <div class="lupa"><i class="fas fa-search"></i></div>
                <div class="button-search">
                    <button type="submit">buscar</button>
                </div>
            </div>

            <!-- FIN CABEZERA 2-->
            <!-- INICIO CABEZERA 3-->

            <div class="contenedor-cabezera-3">

                <div class="contenedor-nav-header">

                    <div class="redes-sociales-header">
                        <div class="iconos-redes-header"><a href="#"><i class="fab fa-facebook-square"></i></a></div>
                        <div class="iconos-redes-header"><a href="#"><i class="fab fa-twitter-square"></i></a></div>
                        <div class="iconos-redes-header"><a href="#"><i class="fab fa-instagram"></i></a></div>
                        <div class="iconos-redes-header"><a href="#"><i class="fab fa-google-plus-g"></i></a></div>
                    </div>
    
                    <div class="nav-center-header">
                        <ul class="nav-center-header-ul">
                            <li class="nav-center-header-li"><a href="#">Los mas vendidos</a></li>
                            <li class="nav-center-header-li"><a href="#">Ultimas novedades</a></li>
                            <li class="nav-center-header-li"><a href="#">Proximamente</a></li>
                            <li class="nav-center-header-li"><a href="/products">Todos los productos</a></li>
                        </ul>
                    </div>
    
    
                    <div class="nav-right-header">
                        <div class="info-compra-header">
                            <select name="idioma" id="idioma">
                                <option value="ES">Español</option>
                                <option value="EN">English</option>
                                <option value="PR">Portugues</option>
                                <option value="DS">Aleman</option>
                            </select>
                        </div>
    
                        <div class="info-compra-header">
                            <select name="moneda" id="moneda">
                                <option value="ARS">Pesos</option>
                                <option value="USD">Dolares</option>
                                <option value="EU">Euros</option>
                                <option value="REAL">Reales</option>
                            </select>
                        </div>
    
                        <div class="info-compra-header">
                            <span class="total">ARS$0,00</span>
                        </div>
    
                        <div class="info-compra-header">
                            <span class="cantidad">0</span>
                        </div>
    
    
                    </div>
    
                </div>

            </div>
                

            
        
        </div>

    </header>
