*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: rgb(133, 82, 82);
}
.carousel-main, .content-wrap{
    display: none;
}



@media(min-width: 1024px){
    .carousel-main{
        width: 100%;
        text-align: center;
        border: 5px solid black;
        display: block;
    }
    .content-wrap{
        display: flex;
        justify-content: space-between;
    }
    .nav-left{
        position: fixed;
        width: 10%;
        text-align: center;
        border: 5px solid black;
    }
    .nav-left-up{
        height: 50%;
        border-bottom: 5px solid black;
    }
    .main{
        margin-left: 10%;
        width: 90%;
        border: 5px solid black;    
        text-align: center;   
        height: 100%;
    }

}
