<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css">
    <title>Login</title>
</head>
<body>
    <div class="todo">
        <div class="container">
            <div class="login">
                <div class="titulo">
                    <h2>Iniciar sesion</h2>
                </div>
                <div class="forget">
                    <a href="#">Recuperar contraseña</a>
                </div>
                <div class="block-form">
                    <!--Falta form-->                   
                    <input type="text" name="usuario" id="usuario" placeholder="Email / Usuario">
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
                
    
                <!--Posible ul-->
                <div class="casilla">
                    <label for="view">
                        <input type="checkbox" class="casilla" name="view" id="view">
                        <span> Mostrar Contraseña </span>
                    </label>
                    
                </div>
                <div class="casilla">
                    <label for="remember">
                    <input type="checkbox" class="casilla" name="remember" id="remember">
                    <span for=""> Recuerdame </span>
                </label>
                </div>
                <button type="submit">Inciar sesion</button>
            </div>
    
        
    
        <div class="register">
            <div class="titulo">
                <h2>Registrarse</h2>
    
                <div class="block-form block-register">
                    <!--Falta form-->
                    <form action="">
                        <input type="text" name="usuario" id="usuario" placeholder="Usuario" name="usuario">
                        <input type="text" name="correo" id="correo" placeholder="Email">
                        <input type="password" name="password" id="password" placeholder="Password">
                        <input type="password" name="re-password" id="re-password" placeholder="Password">
                </div>
    
                <!--Posible ul-->
                <div class="casilla">
                    <label for="view-register">
                        <input type="checkbox" name="view-register" id="view-register">
                        <span>Mostrar Contraseña</span>
                    </label>
                </div>
                <button type="submit">Crear</button>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>